<div class="main">

    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo-verde.svg">
            <small><b>movies</b></small>
        </div>

        <div class="content">
            <div class="content-text">
                <p>It's time to create your profile and customize your experience in <b>LinkApi Movies</b>!</p>
            </div>

            <div class="content-form">
                <form [formGroup]="form" (ngSubmit)="save()">
                    <label>Name</label>
                    <input type="text" placeholder="John Wick" formControlName="name">
                    <label>Age</label>
                    <input type="text" placeholder="24" formControlName="age">
                    <label>Favorite movie</label>
                    <input type="text" placeholder="Sharknado 2" formControlName="favorite">
                    <label>Favorite genre</label>
                    <select (change)="getGenre($event.target.value)">
                        <option value="Horror">Horror</option>
                        <option value="Drama">Drama</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Action">Action</option>
                    </select>
                    <div class="content-button">
                        <button id="Cancel" (click)="cancel()">Cancel</button>
                        <button type="submit" id="Save">Save Profile</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer"></div>

    </div>

</div>